{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <main>
    <div class="card">
        {% if app.user %}
            {# Display welcome message if user is authenticated #}
            <h1>Welcome, {{ app.user.email }}!</h1>
            <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            {# Display login form if user is not authenticated #}
            <h1>Login</h1>

            {% for flashMessage in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            
                <form action="{{ path('app_connexion') }}" method="post">
                    <label for="inputEmail">Email</label>
                    <input type="email" id="inputEmail" name="_email" value="{{ last_username }}" placeholder="patricegommery@etudiant.univ-reims.fr" required autofocus>

                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" id="inputPassword" name="_password" required>

                    <button type="submit">Connexion</button>
                </form>
                <div>
                    <p> Pas encore inscrit ? <a href="{{ path('app_inscription') }}">Inscrivez-vous</a></p>
                    <p> Mot de passe oublié ? <a href="{{ path('app_password') }}">Réinitialisez-le</a></p>
                </div>
            {% for flashMessage in app.flashes('script') %}
                {{ flashMessage|raw }}
            {% endfor %}
        {% endif %}
        </div>
    </main>
{% endblock %}
