{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <main>
        <div class="card">
            <h1>Profil</h1>
            <p><strong>Prénom:</strong> {{ user.firstName }}</p>
            <p><strong>Nom:</strong> {{ user.lastName }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>TP:</strong> {{ user.tp }}</p>
            <p><strong>Année:</strong> {{ user.year }}</p>
        </div>
    </main>
{% endblock %}
