<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/style/style.css') }}">
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header>
    <a>
        <span class="span1">DeadLine</span> <span class="span2">Hub</span>
    </a>

    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Filtrer</a></li>
            <li><a href="{{ path('app_home') }}">Ajouter</a></li>
            <li><a href="{{ path('app_home') }}">Travaux</a></li>
        </ul>
    </nav>

    
   {% if app.session.get('user_email') is defined %}
   <p> L'e-mail de l'utilisateur est : {{ app.session.get('user_email') }}</p>
{% else %}
    <p>Aucun e-mail enregistré en session.</p>
{% endif %}
</header>

{% block body %}{% endblock %}

<footer>
    <p>
        Copyright 2014 DeadLineHub - Built With Passion <br>
        DeadLineHub est un projet réalisé par <a href="">??</a>, <a href="">??</a> et <a href="">??</a> dans le cadre de
        la formation MMI de l'IUT de Troyes.
    </p>
</footer>
</body>
</html>
