{% extends 'base.html.twig' %}

{% block title %}AJOUT
{% endblock %}

{% block body %}
	<main>
		<div class="card">
			{% if app.flashes('success') %}
				<h1>Évènement ajouté !</h1>
				<svg class="svg2" viewBox="25 25 50 50">
  				<circle class="circle2" r="20" cy="50" cx="50"></circle>
				</svg>
				<meta http-equiv="refresh" content="2;url={{ path('app_calendrier') }}">
			{% else %}
				<h1>Ajouter une date</h1>

				{% for flashMessage in app.flashes('error') %}
					<div class="alert alert-danger" role="alert">
						{{ flashMessage }}
					</div>
				{% endfor %}

				<form class="form" action="{{ path('app_ajout') }}" method="post">
					<div class="form-group2">
						<div class="form-group">
							<label for="titre">Titre</label>
							<input type="text" name="titre" id="titre" required>
						</div>

						<div class="form-group">
							<label for="description">Description</label>
							{# <input type="text" name="description" id="description" required> #}
							<textarea name="description" id="description" rows="4" required></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="date">Date & Heure</label>
						<input type="datetime-local" name="date" id="date" {% if selectedDate %} value="{{ selectedDate }}" {% endif %} required>
					</div>


					<div class="form-group">
						<label for="module">Module</label>
						<select id="module" name="_module" required>
							{% for module in modules %}
								<option value="{{ module.module }}">{{ module.module }}
									-
									{{ module.nomCours }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form-group">
						<label for="typeRendu">Type de Rendu</label>
						<select id="typeRendu" name="_typeRendu" required>
							<option value="Partiel">Partiel</option>
							<option value="Evaluation">Evaluation</option>
							<option value="Rendu">Rendu</option>
							<option value="Rendu VPS">Rendu VPS</option>
							<option value="Rendu Moodle">Rendu Moodle</option>
							<option value="Autre">Autre</option>
						</select>
					</div>

					<div class="form-group">
						<label for="_tp">TP</label>
						<select name="_tp" id="_tp">
							{% for tpOption in tpOptions %}
								<option value="{{ tpOption }}" {% if tpOption == selectedTp %} selected {% endif %}>
									{{ tpOption }}
								</option>
							{% endfor %}
						</select>
					</div>

					<button type="submit">Ajouter</button>
				</form>
			{% endif %}
		</div>
	</main>
{% endblock %}
